# Seguridad de la Aplicación
ADMIN_PASSWORD=mi-contraseña-segura
# Nota: Para Gmail usa 'App Passwords' si tienes 2FA activado
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu-correo@gmail.com
SMTP_PASS=tu-contraseña-de-aplicacion
