# Configuración SMTP (Ejemplo para Gmail)
# Nota: Para Gmail usa 'App Passwords' si tienes 2FA activado
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu-correo@gmail.com
SMTP_PASS=tu-contraseña-de-aplicacion
